/* Importing Roboto font*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

/* Styles properties */
.header {
    font-size: 24px;
    color: #F9FAF8;
}

.linklist {
    font-size: 18px;
    color: #E5e7eb;
}

.header, .first {
        background-color: #1F2937;
        
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.titlesubtext {
    font-size: 18px;
    color: #E5e7eb;
}

.description {
    color: #E5e7eb;
}
.signup-button {
    background-color: #3882F6;
    border-radius: 8px;
}

/* Positionning properties */



.header {
    display: flex;
    flex-direction: row;
    padding: 20px 12.5% 50px;
}

.linklist {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

/* First section */

.first {
    display: flex;
    padding: 50px 12.5%;
    gap: 40px;
    justify-content: space-between;
}

.description {

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.first-image {
    min-width: 50%;
}
.signup-button {
    width: fit-content;
    padding: 5px 30px;
}