body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    
}

/* Styles properties */
.header {
    font-size: 24px;
    color: #F9FAF8;
}

.linklist {
    font-size: 18px;
    color: #E5e7eb;
}

.header, .first {
        background-color: #1F2937;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.titlesubtext {
    font-size: 18px;
    color: #E5e7eb;
}

/* Positionning properties */

.header, .first {
    padding-left: 12.5%;
    padding-right: 12.5%;
    
}

.header {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    padding-bottom: 60px;
}

.linklist {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

/* First section */

.first {
    border: 2px double red;
    display: flex;
}

